@model RectangleProperties

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <svg width="500" height="550" xmlns="http://www.w3.org/2000/svg">
        2
        <rect x="60" y="100" width= @Model.Length height=@Model.Width rx="0" ry="0" style="fill:#778899; stroke:#FF4500; stroke-width:5; fill-opacity:0.7; stroke-opacity:0.6" />
        3
    </svg>


</div>
    