@model RectangleProperties

@{
    ViewData["Title"] = "Home Page";
}
@section Scripts
{


    <script src="https://rawgit.com/RickStrahl/jquery-resizable/master/src/jquery-resizable.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="http://code.interactjs.io/interact-1.2.4.min.js"></script>
    <script src="https://cdn.rawgit.com/Herst/d3-zoom/ac2cab0ce1f1515312ec68b4e5594d19dd473dd2/build/d3.js"></script>


    <script type="text/javascript">

        $(function () {
            var width = 0;
            var height = 0;

            $(".resizable").draggable();
            $(".resizable").resizable({
                handles: "n, e, s, w",
                stop: function (event, ui) {
                    width = ui.size.width;
                    height = ui.size.height;

                    var rectangleProperties = { Length: height, Width: width };

                    $.ajax({
                        type: "POST",
                        data: JSON.stringify(rectangleProperties),
                        url: "https://localhost:44316/api/rectangle",
                        contentType: "application/json"
                    });

                    alert(width.toString() + " " + height.toString());
                }
            });
        });



    </script>
}
@section Styles
{
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

    <style>
        .wrap{
            width: 500px;
            height: 400px;
            border: 2px dotted white;
        }
        .resizable {
            width: @Model.Width;
            height: @Model.Length;
            border: 2px solid;
        }
    </style>
}


<form action="/" method="post">
    <div class="wrap">
        <div class="resizable"></div>
    </div>
</form>

